<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Smart Contract Lottery</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">Smart Contract Lottery</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
          </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                <h1 class="mb-5">Start the lottery!</h1>
                <form action="{{ url_for('admin_start') }}" method="POST">
                    <button class="btn btn-primary">Start Lottery</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                <h1 class="mb-5">Pick the winner of the lottery and then end and reset the game!</h1>
                <form action="{{ url_for('admin_end') }}" method="POST">
                    <button class="btn btn-primary">End Lottery</button>
                </form>
                {% block content %}
                    {% if winner != 0 %}
                        <div>The winner is: {{ winner }}</div>
                    {% else %}
                        <div>There is no winner!</div>
                    {% endif %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>